@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    list-style-type: none;
}

body {
    background: rgb(88, 123, 18);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.todo {
    background: #fff;
    height: 350px;
    width: 500px;
}

.todo h1 {
    text-align: center;
}

.todo .input {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.todo .input input {
    flex: 1;
}

.tasks {
    margin-left: 30px;
    margin-right: 25px;
}

.tasks li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.tasks li button {
    font-size: 12px;
    font-weight: 700;
}

.tasks li input[type="checkbox"] {
    margin-right: 10px;
}
  
.tasks li label {
    cursor: pointer;
}